body {
    margin: 0;
    width: 100vw;
    background-color: bisque;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#picture {
    width: 100vw;
}

#wrapper {
    margin-top: 93px;
}

h1 {
    text-align: center;
}

#chooseCountry {

    margin-bottom: 20px;
}

p{
    padding: 5%;
}

#bigContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;

}

.flagCountryDiv {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

h2 {
    padding: 10px;
}

.countryContainer {
    background-color: aliceblue;
    width: 100vw;
    margin-bottom: 8vh;
    padding-bottom: 5%;
}

.countryFlag {
    height: 6vh;
}

.countryImage {
    width: 90%;
    height: 90%;

    padding-left: 5%;
}

.cityImage{
    width: 90%;
    height: 90%;

    padding-left: 5%;
}

#grades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.grade {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 10px beige;
}

.grade p {
    margin: 0;
    text-align: center;
}

.grade > h3 {
    margin: 0;
}

#disclaimer {
    color: gray;
    text-align: center;
    margin-top: 1px;
    font-size: 12px;
}

.cityContainer {
    background-color: aliceblue;
}

/* style for comments under */

#box {
    margin: 20px;
}

.comment {
    background-color: bisque;
    border: 2px solid red;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: black;
}

.comment > p:nth-child(2) {
    font-style: italic;
}

.comment > p {
    margin: 0px;
}


/* styling for buttons */
#chooseCountry, button, .chooseCity{
    border-radius: 30px;
    border: black;
    padding: 15px;
}

button, .chooseCity {
    background-color: lightgray;
}
