body {
    margin: 0;
    width: 100vw;
    background-color: bisque;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#picture {
    width: 100vw;
}

h1 {
    text-align: center;
}

#chooseCountry {

    margin-bottom: 20px;
}

p{
    padding: 5%;
}

#bigContainer {
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;

}

.flagCountryDiv {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

h2 {
    padding: 10px;
}

.countryContainer {
    background-color: aliceblue;
    width: 100vw;
    
}

.countryFlag {
    height: 6vh;
}

.countryImage {
    width: 90%;
    height: 90%;

    padding-left: 5%;
}

