body{
  height: 80vh;
}

#overlay {
    position: absolute;
    display: none;
    background-color: white;
    width: 100vw;
    height: 310vh;
    top: 10;
    left: 0;
    right: 0;
    bottom: 10;
    z-index: 2;
    cursor: pointer;
    border: beige;

  }