#overlay {
    position: fixed;
    display: none;
    width: 100vw;
    height: 90vh;
    top: 10;
    left: 0;
    right: 0;
    bottom: 10;
    background-color:transparent;
    z-index: 2;
    cursor: pointer;
    border: beige;

  }