/* Education/utbildningar CSS-file */

body {
    margin: 0;
}


#wrapper{
    margin-top: 93px;
}

.programContainer {
    background-color: beige;
    width: 80vw;
    position: relative;
    left: 10vw;

}

#picture{
    height: 260px;
    width: 100vw;

   
    display: flex;
    align-items: center;
    justify-content: center;
}