/* Education/utbildningar CSS-file */

body {
    margin: 0;
}


#wrapper{
    margin-top: 93px;
}

.programContainer {
    background-color: beige;
    width: 80vw;
    position: relative;
    left: 10vw;

}
