body{
    margin: 0;
}

.header{
    width: 100vw;
    height: 15vh;
    background-color: white;
}

.logga{
    padding-top: 10px;
    padding-left: 10px;
    width: 100px;
    height: 100px;
}

.hamburger{
    width: 60px;
    height: 60px;
    position: fixed;
    left: 80vw;
    top: 4vh
}