.header{
    width: 100vw;
    background-color:white;
}

.logga{
    padding-top: 10px;
    padding-left: 10px;
    width: 80px;
    height: 80px;
}

.hamburger{
    width: 60px;
    height: 60px;
    position: fixed;
    left: 80vw;
    top: 3vh;
 
}

